/*=====================================================
  contents of: style.comp.css
  =====================================================*/
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
header,
footer,
aside,
nav,
article,
figure,
figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400; }

q:before,
q:after {
  content: ""; }

abbr,
acronym {
  border: 0; }

a {
  text-decoration: none; }

a:active,
a:focus {
  outline: none; }

/* Globals */
body {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--very-dark-blue); }

section {
  padding: var(--content-padding); }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1; }

h1 {
  font-size: 4rem;
  margin-bottom: 3rem; }

h2 {
  font-size: 3rem;
  margin-bottom: 2rem; }

h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }

h4 {
  font-size: 2.2rem;
  font-weight: 700; }

/* Variables */
:root {
  /* Reset 1rem = 10px */
  font-size: 10px;
  /* Basic colors */
  --white: #ffffff;
  --black: #000000;
  /* Project colors */
  --yellow: hsl(57, 88%, 58%);
  --blue: hsl(246, 80%, 60%);
  --light-orange: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);
  /* Neutrals */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --normal-blue: #34397b;
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  /* Layout variables */
  --content-width: 90rem;
  --content-padding: 5rem;
  --header-height: 10rem;
  --keyvisual-height: 60rem; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 110rem;
  height: 50rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem; }
  .container__card {
    border-radius: 1.3rem; }
  .container__card-1 {
    background-color: var(--dark-blue);
    grid-row: 1/3; }
  .container__card-2 {
    background-color: var(--light-orange);
    width: 100%; }
  .container__card-3 {
    background-color: var(--soft-blue); }
  .container__card-4 {
    background-color: var(--light-red); }
  .container__card-5 {
    background-color: var(--lime-green); }
  .container__card-6 {
    background-color: var(--violet); }
  .container__card-7 {
    background-color: var(--soft-orange); }

.card {
  position: relative;
  height: 100%;
  overflow: hidden; }
  .card__user {
    padding-left: 2rem;
    background-color: var(--blue);
    border-radius: 1.3rem; }
  .card__image-user {
    margin-top: 3rem;
    width: 8rem;
    border: 2px solid var(--white);
    border-radius: 50%; }
  .card__user-name {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--pale-blue);
    padding-bottom: 5rem; }
  .card__name-user {
    font-size: 5rem;
    font-weight: 300;
    color: var(--white); }

.cta {
  height: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  color: var(--pale-blue); }
  .cta ul li {
    padding-top: 1rem;
    cursor: pointer; }

.data-card {
  position: relative;
  overflow: hidden;
  color: var(--white);
  z-index: 0;
  height: 100%;
  border-radius: 1rem;
  cursor: pointer; }
  .data-card__icon {
    width: 6rem;
    position: absolute;
    left: 70%;
    top: -5%;
    z-index: 1; }
  .data-card__info {
    border-top-right-radius: 1.3rem;
    border-top-left-radius: 1.3rem;
    width: 100%;
    background-color: var(--dark-blue);
    padding-left: 2rem;
    position: absolute;
    bottom: 0;
    z-index: 100;
    border-collapse: collapse; }
  .data-card__burger {
    position: absolute;
    left: 88%;
    top: 15%; }
  .data-card__title {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 400; }
  .data-card__hours {
    font-size: 6rem;
    font-weight: 300;
    margin-top: 2rem; }
  .data-card__history {
    font-size: 1.7rem;
    font-weight: 400;
    padding-bottom: 2rem;
    color: var(--desaturated-blue); }

/* Hovers */
@media (hover: hover) {
  .data-card__info:hover {
    background-color: var(--normal-blue); }
  .cta ul li:hover {
    color: var(--white); } }

/* Media Queries */
/* Smartphones */
@media (max-width: 375px) {
  :root {
    font-size: 7px;
    --content-padding: 1rem; }
  .container {
    width: auto;
    margin: 10rem 1rem 1rem 1rem;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    transform: translate(0, 0);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 24rem; }
  __card-1 {
    background-color: var(--dark-blue);
    grid-row: 1/-1;
    grid-column: 1/-1; }
  .card__user {
    display: flex;
    justify-content: space-around;
    padding: 0; }
  .card__image-user {
    width: 10rem;
    height: 100%;
    max-width: 30%; }
  .cta {
    padding: 0; }
    .cta__list-tasks {
      display: flex;
      margin-top: 2rem;
      justify-content: space-around;
      padding-bottom: 2rem; }
  .data-card__icon {
    width: 6rem;
    position: absolute;
    left: 70%;
    top: -5%;
    z-index: 2; }
  .data-card__info {
    border-top-right-radius: 1.3rem;
    border-top-left-radius: 1.3rem;
    width: 100%;
    background-color: var(--dark-blue);
    padding-left: 2rem;
    position: absolute;
    bottom: 0;
    z-index: 100;
    border-collapse: collapse; }
  .data-card__burger {
    position: absolute;
    left: 88%;
    top: 15%; }
  .data-card__title {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 400; }
  .data-card__hours {
    font-size: 6rem;
    font-weight: 300;
    margin-top: 2rem; }
  .data-card__history {
    font-size: 1.7rem;
    font-weight: 400;
    padding-bottom: 2rem;
    color: var(--desaturated-blue); } }

